.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, 
#lezioni .row > .right{
  width: 50%;
  float: left;
  font-size: 15px;
}
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}
#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}
#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}
#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

.container.grey{
  background-color: #f9f9f9;
}
img{
  height: 200px;
}
.clear {
  clear:both;
}

/*PARTE RESPONSIVE*/
@media (min-width: 420px) and (max-width: 780px) {
  .row{
    width: 100%;
  }
  #lezioni h1{
    width: 100%;
  }
  #lezioni .row > .left {
    width: 46%;
    
  }
  #lezioni .row > .right{
    width: 48%;
    margin-left: 4%;
  }
  #steps h1{
    width: 100%;
  }
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 30%;
  }
  #steps .row > .left,
  #steps .row > .central{
    margin-right: 4%;
  }
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
  }
  #why .row h1{
    width: 100%;
 }
}
@media (max-width: 419px) {
  .row{
    width: 98%;
  }
  #lezioni .row > .left, .right{
       float: none;
       width: 98%;
       margin-right: 5%;
     }
     #lezioni{
       margin-left: 3%;
     }
     #lezioni .row > .right{
       width: 99%;
     }
     .row h1{
       margin-left: 3%;
       width: 95%;
     }
     #steps .row > .left,
     #steps .row > .central,
     #steps .row > .right{
       float: none;
       width: 92%;
       margin-left: 3%;
     }
     #why .row h1{
       margin-left: 4%;
     }
     #why .row > .first,
     #why .row > .second,
     #why .row > .third{
       width: 96%;
       margin-left: 2%;
  }
}

